<!DOCTYPE html>
<html>
<head>
    <title>Village Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="form-box">

<h1>📄 Smart Village Report</h1>

<p>Your Smart Village Analysis has been completed successfully.</p>

<h2>Included in Report</h2>

<ul>
    <li>Village Information</li>
    <li>Development Score</li>
    <li>Crop Recommendation</li>
    <li>Employment Suggestions</li>
    <li>Infrastructure Suggestions</li>
</ul>

<br>

<a class="start-btn" href="/dashboard">
Back to Dashboard
</a>

</div>

</body>
</html>